.verify-screen{
width:100%;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#020412;
overflow:hidden;
position:relative;
}

.verify-box{
width:420px;
padding:40px;
border-radius:30px;
background:rgba(255,255,255,.05);
backdrop-filter:blur(20px);
border:1px solid rgba(255,255,255,.1);
text-align:center;
box-shadow:0 0 60px rgba(255,0,100,.15);
animation:floatBox 4s ease-in-out infinite;
}

.verify-box h1{
font-size:38px;
margin-bottom:20px;
background:linear-gradient(to right,#fff,#ff8fab);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}

.verify-box p{
color:#ccc;
margin-bottom:30px;
line-height:1.7;
}

.loader{
width:90px;
height:90px;
border-radius:50%;
border:5px solid rgba(255,255,255,.1);
border-top:5px solid #ff4d6d;
margin:30px auto;
animation:spin 1s linear infinite;
}

@keyframes spin{
100%{
transform:rotate(360deg);
}
}

.code-display{
font-size:55px;
font-weight:700;
letter-spacing:10px;
margin:25px 0;
color:#ff8fab;
text-shadow:0 0 25px #ff4d6d;
}

.verify-box input{
width:100%;
padding:18px;
margin-top:15px;
border:none;
border-radius:15px;
background:rgba(255,255,255,.08);
color:white;
font-size:20px;
text-align:center;
letter-spacing:5px;
}

.verify-box button{
margin-top:25px;
width:100%;
padding:18px;
border:none;
border-radius:15px;
background:linear-gradient(to right,#ff4d6d,#ff758f);
color:white;
font-size:18px;
cursor:pointer;
transition:.4s;
}

.verify-box button:hover{
transform:scale(1.05);
}
